body {
    background-color:white;
}
.logo{
  margin-left: 15%;
  margin-top: 5%;
  padding: 10%
}
header{
  border: 10px solid red;
}

nav li{
  font-size: 30px;
  display: inline-block;
  margin-right: 10%
}
.menu{
  background-color: black;
}
.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #D3D3D3;
    text-align: center;
}
h2 {
    color: #483D8B;
}
p {
    color:  #5F9EA0;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.itens {
	color:  #5F9EA0;
	text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #D3D3D3;
    text-align: center;
}
h2 {
    color: #483D8B;
}
p {
    color:  #5F9EA0;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.itens {
	color: blue;
	text-decoration: underline;
}

.programacao{
  text-align: center;
  font-size: 25px;
  color: yellow
}
